<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.dao.AccidentDAO"><!--namespace를 통해 UserDAO와 연결합니다. -->

    <select id="getAccidents" resultType="project.dto.AccidentDTO"><!-- selectUsers()메서드를 호출하면 실행할 SELECT문이며,
						UserDTO 객체를 파라미터로 받아, UserDTO객체를 반환합니다.-->
        SELECT *
        FROM tbl_accident
    </select>

    <select id="getAccidentsInRange" resultMap="accident"><!-- selectUsers()메서드를 호출하면 실행할
    SELECT문이며,
						UserDTO 객체를 파라미터로 받아, UserDTO객체를 반환합니다.-->
        SELECT *
        FROM tbl_accident
        WHERE <![CDATA[
                x >= #{x1}-0.001
            ]]>
        AND <![CDATA[
            x <= #{x2}+0.001
        ]]>
        AND <![CDATA[
                y >= #{y1}-0.001
        ]]>
        AND <![CDATA[
                y <= #{y2}+0.001
        ]]>
    </select>

    <select id="test" resultType="String">
        SELECT place_name
        FROM tbl_accident
        WHERE id = 1

    </select>

    <resultMap id="accident" type="project.routes.model.Accident">
        <result property="id" column="id"/>
        <result property="placeName" column="place_name"/>
        <result property="addressName" column="address_name"/>
        <result property="roadAddressName" column="road_address_name"/>
        <result property="x" column="x"/>
        <result property="y" column="y"/>
        <result property="accidentCnt" column="accident_cnt"/>
        <result property="deadCnt" column="dead_cnt"/>
    </resultMap>
</mapper>